.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; 
    z-index: 5;
}

.welcome-message {
    font-size: 2rem;
    color: #fff;
}
