@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Host+Grotesk:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@717&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; 
    z-index: 5;
    padding: 0 20px; 
}

.welcome-message {
    font-size: 2rem;
    color: #f0e5e5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-message h1 {
    font-size: 5.5rem;
    margin: 0;
    color: #ffdcc2; 
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.welcome-message p {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 2.5rem;
    max-width: 800px;
    color: #f5ecec; 
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .welcome-message h1 {
        font-size: 3rem;
    }

    .welcome-message p {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .welcome-message h1 {
        font-size: 2.5rem;
    }

    .welcome-message p {
        font-size: 1.2rem;
    }
}
