.header {
    position: absolute; 
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; 
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo-img {
    width: 70px; 
    cursor: pointer; 
    border-radius: 1rem;
    opacity: 50%;

  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-link {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    color: #ffeb3b; 
  }
  